<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleUserDefaultDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B9E8C1A1CE5A11E0032D710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9E8C2E1CE5A11F0032D710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9E8C391CE5A11F0032D710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
